
main{
  background: rgba(0, 0, 0, 0.76);
}

.container{
  background-image: url(../images/img1.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  opacity: 50%;
  /* flex-shrink: 0; */
}
